*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'kantumruy Pro';
} 

body {
  background-color: #dddfdf; 
}

.navbar{
  width:100%;
  background-color: #2D3142;
  padding: 15px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-logo h1{
    display: inline-block;
    background-color: #fff; 
    color: #2D3142;
    padding: 10px 20px; 
    border-radius: 30px; 
    font-weight: bold;
    font-size: 20px;
  }

.navbar p{
  color: #fff;
  font-size: 15px;
  margin-top: 12px; 
  margin-bottom: 0;
  margin-left: 8px;
}

.navbar ul{
  list-style: none;
  gap: 25px;
  display: flex; 
}
  
.navbar ul li a{
  text-decoration: none;
  font-size: 18px;
  color: #fff; 
  padding-top: 50px;  
  display: inline-block; 

}

.main-heading {
  color: #2c3e50;          
  font-size: 48px;          
  font-family: kantumruy Pro;
  font-weight: bold;      
  text-align: center;       
  margin-top: 30px;  
  margin-right: 30px;
  
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 45px; 

}

.image-row img {
  width: 400px;
  height: 270px;
  border-radius: 10px 10px 0 0;
  
}

.image-card {
    background-color: white;
    padding: 0px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    text-align: center;
    height: 620px;
    width: 400px;  
    padding-bottom: 300px;
  
  }

  .image-card img {
    object-fit: cover;
    margin: 0;  
    padding: 0; 
  }

.image-text {
  margin: 10px 20px 0;
  font-size: 20px;
  color: #2D3142;
  text-align: left;       
}

.image-description  {
  margin: 10px 20px 0;
  font-size: 18px;
  color: #5c5c5c;
  text-align: left; 
  
}

.image-description li {
  margin-top: 20px; 
  margin-left: 10px;
}

.card-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 30px;
  background-color: #253862; 
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #2D3142; 
}

.image-card {
  transition: transform 0.3s ease; 
  cursor: pointer; /
}

.image-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  z-index: 10; 
}