*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'kantumruy Pro';
} 

body {
  background-color: #dddfdf; 
}

.navbar{
  width:100%;
  background-color: #2D3142;
  padding: 15px 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.study-logo {
    display: inline-block;
    background-color: #fff; 
    padding: 10px 20px; 
    border-radius: 30px; 
    font-weight: bold;
    font-size: 20px;
   text-decoration: none;
   color: #2D3142; 

  }

.study-logo:hover {
  color: #2D3142;  
  text-decoration: none;

}

.navbar p{
  color: #fff;
  font-size: 15px;
  margin-top: 12px; 
  margin-bottom: 0;
  margin-left: 8px;
}

.navbar ul{
  list-style: none;
  gap: 25px;
  display: flex; 
}

.navbar ul li a{
  text-decoration: none;
  font-size: 18px;
  color: #fff; 
  padding-top: 50px;  
  display: inline-block; 

}

.main-heading {
  color: #2c3e50;
  font-size: 48px;
  font-family: 'Kantumruy Pro';
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-left: 100px;     
  margin-right: 90px;      
  margin-bottom: 5px;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 45px; 

}

.image-row img {
  width: 100%;
  height: 270px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;

}



main {
  padding: 20px 30px;
  max-width: 900px;
  color: #2D3142;
  line-height: 1.5;
  margin: 0 auto;

}

section {
  margin-bottom: 30px;
}

h3 {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 24px;
  color: #253862; 
  margin-top: 20px;

}

.aboutus-content p {
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
  color: #444;

}

.aboutus-content h2 {
  font-size: 24px;
  position: relative;
  margin: 5px auto 10px;  
  text-align: center;
}


a {
  color: #1a237e;
}

a:hover  {
  color: #3949ab;; 
}


.resource-box h3 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 25px;
}

.custom-hr {
  border: none;
  height: 1px;
  background-color: #253862;
  width: 180px;
  margin: 20px auto 20px auto; 
  opacity: 1;
}

.uni-image img {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 

}

.quote-text {
  width: 600px;
  padding: 10px 20px;
  height: auto;
  background-color: transparent;
  border: 4px solid #ffffff;
  font-style: bold;
  font-size: 22px;
  color: #4b4e5e;
  font-family:'open sans';  
  margin: 10px auto;
  text-align: center;
}

